*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
    color: white;
    
}

.card{
    width: 90%;
    overflow: hidden;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60x;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 30px;
}

.result{
        display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    width: 170px;
}

.weather h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.weather h2 {
    font-size: 40px;
    font-weight: bold;
}

.flex-between{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(250deg, #00febabd, #5b548a);
    border-radius: 25px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.col{
    display: flex;
    align-items: center;
   
}

.col img {
    width: 50px;
    margin-right: 10px;
}

.des {
    display: flex;
    flex-direction: column;
}

.des p{
    height: fit-content;
}

.humidity, .wind{
    font-size: 28px;
}

.weather{
    display: none;
}

.error {
    
    font-weight: bolder;
    
    font-size: 16px;
    margin-top: 20px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 234, 234);
    width: 100%;
    padding: 1px 20px 1px  20px;
    border-radius: 20px;
    transition: 0.2s ease-out;
    display: none;
}